{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!{% endblock %}

{% block body %}
{% for flashMessage in app.session.flashbag.get('basket') %}

    <div class="alert alert-dismissible alert-success bag-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        {{ flashMessage|trans }}
    </div>

{% endfor %}
    <div class="row text-white mb-3 mt-4 d-flex justify-content-between">
        <a href="{{ url('order_list') }}" class="btn btn-primary app-button ">Orders <i class="fa fa-list-ul" aria-hidden="true"></i></a>
        <a href="{{ url('basket') }}" class="btn btn-danger app-button ">Basket <i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
    </div>

    {% if products | length > 0 %}
        <div class="cart">
            <div class="card table-responsive d-flex flex-wrap border-0 pt-3 pb-3">
                <h1 class="well text-center font-weight-light">List of products available ({{ products | length }})</h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
        {% for product in products %}

            <div class="card col col-sm-12 col-md-4 p-0 m-2">
                <h5 class="card-header bg-success text-white">{{ product.name }}</h5>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"><strong>Price per unit:</strong> {{ product.price |  intToCurrency | format_currency('PLN', {fraction_digit: 2})}}</p>
                    <form method="post" action="{{ url('basket_add_post') }}">
                        <div class="form-group">
                            <label for="qty">Quantity</label>
                            <input name="quantity" type="number" class="form-control" id="qty" value="1" aria-describedby="emailHelp" placeholder="Quantity">
                            <input name="product" type="hidden" value="{{ product.id }}">
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Add <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        {% endfor %}
        </div>

    {% else %}
        <div class="cart">
            <div class="card table-responsive d-flex flex-wrap border-0 pt-3 pb-3">
                <h1 class="well text-center font-weight-light">No elements found! :< </h1>
            </div>
        </div>
    {% endif %}


{#<div class="example-wrapper">#}
{#    <h1>Hello {{ controller_name }}! ✅</h1>#}

{#    This friendly message is coming from:#}
{#    <ul>#}
{#        <li>Your controller at <code><a href="{{ 'C:/projects/wsb/simple-basket/src/Controller/BasketController.php'|file_link(0) }}">src/Controller/BasketController.php</a></code></li>#}
{#        <li>Your template at <code><a href="{{ 'C:/projects/wsb/simple-basket/templates/basket/index.html.twig'|file_link(0) }}">templates/basket/index.html.twig</a></code></li>#}
{#    </ul>#}
{#</div>#}
{% endblock %}
