{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('basket') %}

        <div class="alert alert-dismissible alert-success bag-alert" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            {{ flashMessage|trans }}
        </div>

    {% endfor %}
    {% if basket.elements | length > 0 %}
        <div class="cart">
            <div class="card table-responsive d-flex flex-wrap border-0 pt-3 pb-3">
                <h1 class="well text-center font-weight-light">List of elements in Basket
                    ({{ basket.elements | length }})</h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            {% for element in basket.elements %}

                <div class="card col col-sm-12 col-md-4 p-0 m-2">
                    <h5 class="card-header bg-success text-white">{{ element.product.name }}</h5>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"><strong>Quantity</strong> {{ element.quantity }}</p>
                        <p class="card-text"><strong>Price per
                                unit:</strong> {{ element.product.price |  intToCurrency | format_currency('PLN', {fraction_digit: 2}) }}
                        </p>
                        <p class="card-text"><strong>Sub
                                sum:</strong> {{ (element.product.price * element.quantity | intToCurrency) | format_currency('PLN', {fraction_digit: 2}) }}
                        </p>
                        <p></p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {#        <div class="row mb-3 d-flex justify-content-between mt-4 bg-gray">#}
        {{ form_start(paymentForm,  {'attr': {'class': 'row mb-3 d-flex justify-content-between mt-4 bg-gray'}}) }}
        <a href="{{ url('clear') }}" class="btn btn-danger">Clear <i class="fa fa-times" aria-hidden="true"></i></a>


        {{ form_errors(paymentForm) }}
        {{ form_row(paymentForm.paymentOption) }}

        <div class="text-black">
            <strong>Sum: {{ (total | intToCurrency) | format_currency('PLN', {fraction_digit: 2}) }}</strong></div>
{#        <a href="{{ url('order') }}" class="btn btn-success">Order <i class="fa fa-arrow-circle-right"#}
{#                                                                      aria-hidden="true"></i></a>#}
        <button type="submit" class="btn btn-success">Order <i class="fa fa-arrow-circle-right"
                                                                aria-hidden="true"></i></button>
        {{ form_end(paymentForm) }}
        {#        </div>#}
        <div class="row"><p><a href="{{ url('base') }}">Back to shop</a></p></div>

    {% else %}
        <div class="cart">
            <div class="card table-responsive text-center d-flex flex-wrap border-0 pt-3 pb-3">
                <h1 class="well font-weight-light">No elements found in Basket!</h1>
                <p>Add elements in <a href="{{ url('base') }}">shop</a></p>
            </div>
        </div>
    {% endif %}


    {#<div class="example-wrapper">#}
    {#    <h1>Hello {{ controller_name }}! ✅</h1>#}

    {#    This friendly message is coming from:#}
    {#    <ul>#}
    {#        <li>Your controller at <code><a href="{{ 'C:/projects/wsb/simple-basket/src/Controller/BasketController.php'|file_link(0) }}">src/Controller/BasketController.php</a></code></li>#}
    {#        <li>Your template at <code><a href="{{ 'C:/projects/wsb/simple-basket/templates/basket/index.html.twig'|file_link(0) }}">templates/basket/index.html.twig</a></code></li>#}
    {#    </ul>#}
    {#</div>#}
{% endblock %}
